<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CSC2031</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
</head>

<body>

<style nonce="{{ csp_nonce() }}">
    .table {
        margin-left: auto;
        margin-right: auto;
    }
</style>

<section class="hero is-primary is-fullheight">

    <div class="hero-head">
        <nav class="navbar">
            <div class="container">

                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="{{ url_for('index') }}" class="navbar-item{{ ' is-active' if request.endpoint and url_for('index') == url_for(request.endpoint) }}">
                            Home
                        </a>
                        {% if current_user.is_anonymous %}
                            <a href="{{ url_for('users.register') }}" class="navbar-item{{ ' is-active' if request.endpoint and url_for('users.register') == url_for(request.endpoint) }}">
                                Register
                            </a>
                            <a href="{{ url_for('users.login') }}" class="navbar-item{{ ' is-active' if request.endpoint and url_for('users.login') == url_for(request.endpoint) }}">
                                Login
                            </a>
                        {% endif %}

                        {% if current_user.is_authenticated and current_user.is_user() %}
                            <a href="{{ url_for('lottery.lottery') }}" class="navbar-item{{ ' is-active' if request.endpoint and url_for('lottery.lottery') == url_for(request.endpoint) }}">
                                Lottery
                            </a>
                        {% endif %}

                        {% if current_user.is_authenticated and current_user.is_admin() %}
                            <a href="{{ url_for('admin.admin') }}" class="navbar-item{{ ' is-active' if request.endpoint and url_for('admin.admin') == url_for(request.endpoint)
                            or url_for('admin.generate_winning_draw') == url_for(request.endpoint)
                            or url_for('admin.view_winning_draw') == url_for(request.endpoint)
                            or url_for('admin.run_lottery') == url_for(request.endpoint)
                            or url_for('admin.view_all_users') == url_for(request.endpoint)
                            or url_for('admin.logs') == url_for(request.endpoint)
                            or url_for('admin.view_user_activity') == url_for(request.endpoint)
                            or url_for('admin.register') == url_for(request.endpoint)
                                    }}">
                                Admin
                            </a>
                        {% endif %}

                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for('users.account') }}" class="navbar-item{{ ' is-active' if request.endpoint and url_for('users.account') == url_for(request.endpoint) }}">
                                Account
                            </a>
                            <a href="{{ url_for('users.logout') }}" class="navbar-item{{ ' is-active' if request.endpoint and url_for('users.logout') == url_for(request.endpoint) }}">
                                Logout
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</section>
{% block script %}
{% endblock %}
</body>
</html>